<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FinPyService" path="*.py" verb="*" modules="CgiModule" scriptProcessor="&quot;F:\Arquivos de Programa\Anaconda3\python.exe&quot; %s%s" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
